# compiled output
build
**/build
dist
**/dist

# dependencies
node_modules
**/node_modules

# tests
coverage
**/coverage

# git, vs config
.git
**/.git
.github
**/.github
.husky
**/.husky
.vscode
**/.vscode
.devcontainer
**/.devcontainer

# docs
CHANGELOG.md
README.md
docs
**/docs
reports
**/reports
